
.map-layout{
  
  flex: 1;                
  min-height: 0;         
  display: grid;
  grid-template-columns: minmax(0,1fr) 360px;  
  width: 100%;
}


.map-container{
  min-width: 0;            
  min-height: 0;           
  display: grid;           
}


.leaflet-container{
  width: 100%;
  height: 100%;
}





@media (max-width: 900px){
  .map-layout{
    grid-template-columns: 1fr;
    grid-auto-rows: auto;      
  }
  .map-container{
    height: 60vh;              
  }
}
